.fond{
  background-image: linear-gradient(to right bottom, #def9f6, #c9e9e1, #b6d8cb, #a6c8b4, #98b79c, #8fac8f, #86a082, #7e9575, #768d70, #6e856a, #667e65, #5f765f);
}

#red{
  height: auto;
}
#logo{
  width: 200px;
  height: auto;
 }
#ttlejardin{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-style: italic;
 } 
aside{
  background-color: rgb(201, 180, 180)
}
table, tr, td, th { 
  border: solid 2px black;
  border-collapse: collapse;
  border-radius: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 }
.visuel{
  width: 200px;
  height: auto;
}

input[type=password],input[type=text],input[type=email],input[type=date],input[type=number],select{
  border-radius: 5px;
}
textarea{
  border-radius: 5px;
}
input[type=submit],input[type=reset]{
  border-radius: 10px;
  border: solid thin red;
}
fieldset{
  border: 2px solid red;
  border-radius: 10px;          
  background-color: #A7C793;
  font-family: 'Times New Roman', 'Times', 'serif';           
}  
.identification{
margin-top:19%;
margin-bottom: 19%;
}   
.admin{
  background-image: linear-gradient(to right top, #fbfdf5, #eef6e1, #dff0ce, #cdeabd, #b8e4ae, #a6dd9e, #93d68f, #7ecf80, #6bc469, #58ba52, #43af38, #2ba417);;
}
.formajout{
  margin-top: 0px;
  z-index: 10;
}

/*.pt-6 {
  padding-top: 6rem !important;
}*/